###Exercise 1

In the code below, which will never print regardless of the value for x? Edit the code to correct the error.

In [10]:
x = int(input("Enter the value of x: "))
if (x > 50):
      print('Above 50')
elif (x > 20):
      print('Above 20')
elif (x > 10):
      print('Above 10')
elif (x > 0):
      print('Above 0')
else :
      print('Something else')

Enter the value of x: 23
Above 20

###Exercise 2

Write your salary computation to give an employee 1.5 times the hourly rate for hours worked above 40 hours. Example:

In [11]:
hours = int (input("Enter Hours: "))
rate = float(input("Enter Rate: "))

if hours > 40:
  rp = 40 * rate
  op = (hours - 40) * rate * 1.5
  tp = rp + op
else:
  tp = hours * rate

print("Pay: ", tp)

Enter Hours: 45
Enter Rate: 10
Pay:  475.0

###CHALLENGE

Write a program to prompt for a score between 0 and 100 and print a grade using the following table:

In [14]:
grade = int(input("Enter Score: "))

if (grade >= 97):
  print("1.0")
elif(grade >= 93):
  print("1.25")
elif(grade >= 89):
  print("1.5")
elif(grade >= 85):
  print("1.75")
elif(grade >= 81):
  print("2.0")
elif(grade >= 77):
  print("2.25")
elif(grade >= 74):
  print("2.5")
elif(grade >= 0):
  print("3")

Enter Score: 77
2.25